{% extends "base.html" %}


{% block content %}
  <h1>How much for this.</h1>

  <p>You can use the app for free now. It will change soon. The app will be for the first three months. It will be payable 2$ per year after the free period. Why not for free?</p>
  <p>The app generates costs, at least 20 $ a month if the number of users is small. Asking for payment is the best way to validate the app idea. I'm still learning how to do "startup" things. I need money to live, to pay for the internet connection, a coffee, Barbie for my daughter, swimming lessons for my son, etc. I need a lot of money. I have to make them.</p>
  <hr>
  <p>I promise and guarantee easy 60 days money back. Just drop me an email you don't like the app anymore.</p>


{% endblock content %}
