{% extends "base.html" %}


{% block content %}
  <h1>How to sign up.</h1>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <img src="{% static 'images/signup1.png' %}" class="img-fluid" alt="signup1">
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Tap Safari icon. Write octopusreminder.com in the search bar and click Go button. The app should start. Then click the menu icon on top right corner.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <img src="{% static 'images/signup2.png' %}" class="img-fluid" alt="signup2">
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Choose Sign Up option.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <img src="{% static 'images/su3.png' %}" class="img-fluid" alt="signup3">
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Type your email address, username and password. We won't sell your data and we won't spam you. Ever. Word.</p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <img src="{% static 'images/su4.png' %}" class="img-fluid" alt="signup4">
      </div>
      <div class="col-md-4 col-sm-12">
        <p>Then you should see a statement that the app sent and email to you to confirm your signup.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <img src="{% static 'images/su5.png' %}" class="img-fluid" alt="signup4">
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Check your email. You should receive an email from the app within few minutes. Open it and click the link to confirm your signup.</p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <img src="{% static 'images/su6.png' %}" class="img-fluid" alt="signup5">
      </div>
      <div class="col-md-4 col-sm-12">
        <p>New Safari window should open where you can confirm your email address.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <img src="{% static 'images/su7.png' %}" class="img-fluid" alt="signup6">
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Sign In page should appear with green statement that You have confirmed your email address. Username and password fields should be fullfilled with credentials you provided few steps before. We suggest to click Remember Me checkbox field to let the app remember you with no need to log in every time. Tap the blue Sign In button to finish the process.</p>
    </div>
  </div>

{% endblock content %}
