{% extends "base.html" %}

{% block content %}

  <h1>Today</h1>
  {% for thing in today_things %}
    <div class="row">
      <div class="col-10">
        <p>{{ thing }}</p>
      </div>
      <div class="col-2">
        <p><a href="{% url 'things:edit' thing.pk %}"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></p>
      </div>
    </div>
    <hr>

  {% endfor %}
  <br>
  <h1>Later</h1>
  {% for thing in later_things %}
    <div class="row">
      <div class="col-10">
        <p>{{ thing }}</p>
      </div>
      <div class="col-2">
        <p><a href="{% url 'things:edit' thing.pk %}"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></p>
      </div>
    </div>
    <hr>

  {% endfor %}

{% endblock content %}
{{ thing.get_absolut_url }}
