{% extends "base.html" %}

{% block content %}
  <h1>Today</h1>
  <hr>
  {% for thing in things %}


    <h2>{{ thing }}
      <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Manage</a>
    </h2>


    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Manage this item.
        <div class="row">
          <div class="col-2">
            <a class="btn btn-outline-primary btn-lg" href="{% url 'things:edit' thing.pk %}" role="button">Edit</a>
          </div>
          <div class="col-2">
            <a class="btn btn-outline-danger btn-lg" href="{% url 'things:delete' thing.pk %}" role="button">Delete</a>
          </div>
        </div>
      </div>
    </div>


  {% endfor %}
  <br>
  <h1>Other day</h1>
  <hr>

{% endblock content %}
