{% extends "base.html" %}

{% block content %}
  <h1>Set of tutorials / videos:</h1>
  <hr>
  <h3>How the app works.</h3>
  <br>
  <h3>How to sign up. <a href="{% url 'howto:signup' %}"> check</a></h3>
  <br>
  <h3>How to sign in.</h3>
  <br>
  <h3>How to add the app to the home screen of your smartphone. <a href="{% url 'howto:install' %}"> check</a></h3>
  <br>
  <h3>How to use the app.</h3>
  <br>
  <h3>How to contact with us.</h3>
  <br>
  <h3>How to pay.</h3>
  <br>
  <h3>How to get money back.</h3>
{% endblock content %}
