{% extends "base.html" %}

{% block content %}
  <h1>Set of tutorials and answers:</h1>
  <hr>
  <a href="{% url 'howto:use' %}"><h3>How to use the app.</h3></a>
  <br>
  <a href="{% url 'howto:signup' %}"><h3>How to sign up.</h3></a>
  <br>
  <a href="{% url 'howto:signin' %}"><h3>How to sign in.</h3></a>
  <br>
  <a href="{% url 'howto:install' %}"><h3>How to add the app to the home screen of your smartphone.</h3></a>
  <br>
  <a href="{% url 'howto:price' %}"><h3>How much for this.</h3></a>
  <br>
  <h3>How to contact with me.</h3>
  <p>Just send an email to <a href="rafal@mvpcheap.com">rafal@mvpcheap.com</a> or you can take a look at <a href="https://mvpcheap.com">mvpcheap.com</a>
  <br>
  <h3>How to get money back.</h3>
  <p>I promise and guarantee easy 60 days money back. Just drop me an email you don't like the app anymore.</p>

  <p>
{% endblock content %}
