h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  font-size: 1.5em;
}

.navbar, .navbar-toggler { border: none; }

.octopus-circle {
  border-radius: 50%;
}

.green {
  background-color: green;
  
}

.gray {
  background-color: gray;
}
