{% extends "base.html" %}

{% block content %}
  <h1 class="display-2">Wouldn’t it be great to not forget about things anymore?</h1>

  <br>
  <p>Do you ever find for instance, you come up with something important unexpectedly that you need to remember and you have no easy way to write it down? Like you’re in your car and some great idea comes to you but you know the light is about to turn green and you need to write your idea down right then and there, preferably not on a steamy window. Or you’re in an elevator and people are talking about some great book, they say the author’s name but you know you won’t remember it and you can’t just jot it down on the elevator wall? Maybe a handsome barista with these blue eyes smiles at you while he passes you your hot morning coffee, as you smile back at him you suddenly see your kid on the dentist chair and you know that it’s today!</p>
</br>
<p>The calendar app doesn’t help in these moments, right? Nothing helps though you tried different apps? <a href="{% url 'about' %}">Maybe you could see if the OctopusReminder can help.</a></p>

{% endblock content %}
